body{
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAHklEQVQIW2NkYGBg+Pr1639ubm5GGA1nIEswUqYSAMjrL8JwoIBIAAAAAElFTkSuQmCC);
}

#doc-search{
    color: #000000;
    margin: 11px;
}

#top-header{
    background-color: rgb(242, 249, 255);
}

#brand{
    margin: 14px;
}

#top-nav ul{
    list-style: none;
    margin: 18px;
}

#top-nav  li{
    float: left;
    margin-right: 50px;
}

#side-nav{
    text-align: right;
}

#side-nav ul{
    list-style-type: none;
}

#side-nav ul li a{
    text-decoration: none;
}


#side-nav ul li a:hover{
    text-decoration: underline;
}

#content{
    background-color: #fff;
    height: 100%;
    position: fixed;
    left: 615px;
    padding: 62px;
    overflow-y: auto;
}
